<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Invoice Info</title>
</head>
<body>
    <form method="post" action="/invoices/add">
        <table>
            <tr>
                <th>
                    Invoice ID:
                </th>
                <th>
                    <input type="text" title="Invoice ID" name="invoiceId">
                </th>
            </tr>
            <tr>
                <th>
                    Issue date:
                </th>
                <th>
                    <input type="date" title="Issue date" name="issueDate">
                </th>
            </tr>
            <tr>
                <th>
                    Sale date:
                </th>
                <th>
                    <input type="date" title="Sale date" name="saleDate">
                </th>
            </tr>
        </table>
        <button type="submit">Next</button>
    </form>

</body>
</html>