<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Order</title>
</head>
<body>
    <form method="post" action="/orders/add">
        <p>
            Order number: <input type="number" name="number">
        </p>
        <p>
            Loading location: <input type="text" name="loadingLocation">
        </p>
        <p>
            Unloading location: <input type="text" name="unloadingLocation">
        </p>
        <p>
            Value: <input type="text" name="value">
        </p>
        <button type="submit">Submit!</button>
    </form>
</body>
</html>