<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Order</title>
</head>
<body>
    <form method="post" action="/orders/add">
        <p>
            Order number: <input type="number" name="number" title="Order number">
        </p>
        <p>
            Loading location: <input type="text" name="loadingLocation" title="Loading location">
        </p>
        <p>
            Unloading location: <input type="text" name="unloadingLocation" title="Unloading location">
        </p>
        <p>
            Value: <input type="text" name="value" title="Value">
        </p>

        <button type="submit">Submit!</button>
    </form>
</body>
</html>