<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Order</title>
</head>
<body>
    <form method="post" action="/orders/update" th:action="@{~/orders/update(oldNumber = ${oldNumber})}" th:object="${order}">
        <table>
            <tr>
                <th>Number:</th>
                <td>
                    <input readonly="readonly" type="number" th:field="*{number}"/>
                </td>
            </tr>
            <tr>
                <th>Loading location:</th>
                <td>
                    <input type="text" th:field="*{loadingLocation}"/>
                </td>
            </tr>
            <tr>
                <th>Unloading location:</th>
                <td>
                    <input type="text" th:field="*{unloadingLocation}"/>
                </td>
            </tr>
            <tr>
                <th>Value:</th>
                <td>
                    <input type="text" th:field="*{value}"/>
                </td>
            </tr>
            <tr>
                <th>Invoice:</th>
                <td>
                    <select th:field="*{invoice}">
                        <option value="">None</option>
                        <option th:each="optionInvoice: ${invoices}"
                                th:value="${optionInvoice.invoiceId}"
                                th:text="${optionInvoice}"></option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="submit">Submit!</button>
    </form>
</body>
</html>