<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    PROGRAM DO FAKTUR XD
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{~/app/orders}">Orders</a>
                </td>
                <td>
                    <a th:href="@{~/app/invoices}">Invoices</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>