<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td th:text="#{main.title}">
                    Invoice application
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{~/app/orders}" th:text="#{main.orders}">Orders</a>
                </td>
                <td>
                    <a th:href="@{~/app/invoices}" th:text="#{main.invoices}">Invoices</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>