<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <p style="text-align: right;" th:text="|Swolszewice Duże, ${invoiceDTO.getInvoice().getIssueDate()}|">
            Swolszewice Duże, 01-01-2018</p>
        <table width="100%">
            <tr>
                <td>
                    <h2>FAKTURA VAT</h2>
                </td>
                <td>
                    <h3 th:text="|FV ${invoiceDTO.getInvoice().getInvoiceId()}|">FV 1/2018</h3>
                </td>
                <td>
                    Oryginał/Kopia
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td style="text-align: right; vertical-align: top; width: 10%">
                    <strong>Sprzedawca:</strong>
                </td>
                <td style="width: 40%">
                    Firma Handlowo-Usługowa KAMRO<br/> Włodzimierz Plich
                </td>
                <td style="text-align: right; vertical-align: top;">
                    <strong>Nabywca:</strong>
                </td>
                <td>
                    Transforwarding International sp.&nbsp;z&nbsp;o.o.
                </td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: top; width: 10%">
                    <strong>Adres:</strong>
                </td>
                <td style="width: 40%">
                    ul. Jana Pawła II 41<br/> 97-320 Swolszewice Duże
                </td>
                <td style="text-align: right; vertical-align: top;">
                    <strong>Adres:</strong>
                </td>
                <td>
                    ul. Na Skraju 73A<br/> 05-090 Raszyn
                </td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: top;">
                    <strong>NIP:</strong>
                </td>
                <td>
                    7711012886
                </td>
                <td style="text-align: right; vertical-align: top;">
                    <strong>NIP:</strong>
                </td>
                <td>
                    PL5342147482
                </td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: top;">
                    <strong>Bank:</strong>
                </td>
                <td>
                    BGŻ BNP Paribas S.A. oddział w&nbsp;Tomaszowie Maz.
                </td>
                <td>
                    <strong>&nbsp;</strong>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: top;">
                    <strong>Konto:</strong>
                </td>
                <td>
                    79160014621833071520000001
                </td>
                <td>
                    <strong>&nbsp;</strong>
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <table>
            <tr>
                <td style="text-align: right">
                    <strong>Data sprzedaży:</strong>
                </td>
                <td>
                    <div th:text="${invoiceDTO.getInvoice().getSaleDate()}">01-01-2018</div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <strong>Spos&oacute;b zapłaty:</strong>
                </td>
                <td>
                    przelew
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <strong>Termin płatności:</strong>
                </td>
                <td>
                    <div th:text="${invoiceDTO.getPaymentDate()}">31-01-2018</div>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <strong>Transport:</strong>
                </td>
                <td>
                    własny
                </td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <table style="border: 10px black; width: 100%;">
            <thead style="text-align: center">
                <tr style="border-bottom: 1px solid #dddddd">
                    <th style="width: 5%;">
                        <strong>Lp.</strong>
                    </th>
                    <th style="width: 30%">
                        <strong>Nazwa</strong>
                    </th>
                    <th style="width: 10%">
                        <strong>J. m.</strong>
                    </th>
                    <th style="width: 5%; ">
                        <strong>Ilość</strong>
                    </th>
                    <th style="width: 15%; ">
                        <strong>Cena netto&nbsp;[zł]</strong>
                    </th>
                    <th style="width: 5%; ">
                        <strong>VAT</strong>
                    </th>
                    <th style="width: 15%; ">
                        <strong>Wartość VAT&nbsp;[zł]</strong>
                    </th>
                    <th style="width: 15%; ">
                        <strong>Wartość netto&nbsp;[zł]</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center; " th:each="orderDTO, iStat: ${invoiceDTO.getOrders()}">
                    <td>
                        <div th:text="${iStat.index + 1}">1</div>
                    </td>
                    <td>
                        <div th:utext="${orderDTO.getOrder().toString()}">usługa transportowa 179817 Jarosty PL &ndash;
                            Zagrzeb HR
                        </div>
                    </td>
                    <td>
                        szt.
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        <div th:text="${orderDTO.getOrder().getValue()}">4190,29</div>
                    </td>
                    <td>
                        23%
                    </td>
                    <td>
                        <div th:text="${orderDTO.getTaxValue()}">963,77</div>
                    </td>
                    <td>
                        <div th:text="${orderDTO.getOrder().getValue()}">4190,29</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table style="width: 50%; text-align: center">
            <thead>
                <tr>
                    <th>
                        <strong>Stawka</strong>
                    </th>
                    <th>
                        <strong>Netto&nbsp;[zł]</strong>
                    </th>
                    <th>
                        <strong>VAT&nbsp;[zł]</strong>
                    </th>
                    <th>
                        <strong>Brutto&nbsp;[zł]</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        23%
                    </td>
                    <td>
                        <div th:text="${invoiceDTO.getNettoSum()}">sumaNetto</div>
                    </td>
                    <td>
                        <div th:text="${invoiceDTO.getTaxSum()}">sumaVat</div>
                    </td>
                    <td>
                        <div th:text="${invoiceDTO.getBruttoSum()}">sumaBrutto</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Razem:</div>
                    </td>
                    <td>
                        <div th:text="${invoiceDTO.getNettoSum()}">sumaNetto</div>
                    </td>
                    <td>
                        <div th:text="${invoiceDTO.getTaxSum()}">sumaVat</div>
                    </td>
                    <td>
                        <div th:text="${invoiceDTO.getBruttoSum()}">sumaBrutto</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <table>
            <tr>
                <td>
                    <strong>Do zapłaty:</strong>
                </td>
                <td>
                    <div th:text="${invoiceDTO.getBruttoSum()}">sumaBrutto</div>
                </td>
            </tr>
        </table>
        <p>&nbsp;</p>

        <footer>
            <table width="100%">
                <tr>
                    <td>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <em>podpis imienny osoby uprawnionej do wystawienia faktury VAT</em>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <em>podpis imienny osoby upoważnionej do odebrania faktury VAT</em>
                    </td>
                </tr>
            </table>
        </footer>
    </body>
</html>