<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoices</title>
</head>
<body>
    <div style="align-content: center">
        <a th:href="@{~/app/orders}" th:text="#{invoices.viewOrders}">View orders</a>
    </div>
    <h1 th:text="#{invoices.header}">All invoices:</h1>
    <table>
        <thead>
            <tr>
                <th th:text="#{invoices.id}">ID</th>
                <th th:text="#{invoices.issue}">Issue date</th>
                <th th:text="#{invoices.sale}">Sale date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="invoice: ${invoices}">
                <td th:text="${invoice.invoiceId}">5/2018</td>
                <td th:text="${invoice.issueDate}">2018-03-15</td>
                <td th:text="${invoice.saleDate}">2018-03-17</td>
                <!-- TODO #11 wyswietlac wiecej info? -->
                <td>
                    <a th:href="@{~/app/invoices/print(id=${invoice.invoiceId})}"
                       th:text="#{general.print}">Print</a>
                </td>
                <!-- TODO #1 edit invoice
                <td>
                    <a th:href="@{~/invoices/get(id=${invoice.invoiceId})}">View</a>
                </td>
                -->
                <td>
                    <a th:href="@{~/app/invoices/delete(id=${invoice.invoiceId})}"
                       th:text="#{general.delete}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 th:text="#{invoices.add}">Add invoice:</h2>
    <form action="/app/invoices/add" th:object="${clearInvoice}" method="post">
        <table>
            <tr>
                <th th:text="#{invoices.id}">
                    Invoice ID:
                </th>
                <th>
                    <input type="text" th:field="*{invoice.invoiceId}" name="invoiceId"/>
                </th>
            </tr>
            <tr>
                <th th:text="#{invoices.issue}">
                    Issue date:
                </th>
                <th>
                    <input type="date" th:field="*{invoice.issueDate}" name="issueDate"/>
                </th>
            </tr>
            <tr>
                <th th:text="#{invoices.sale}">
                    Sale date:
                </th>
                <th>
                    <input type="date" th:field="*{invoice.saleDate}" name="saleDate">
                </th>
            </tr>
            <tr>
                <th th:text="#{invoices.days}">
                    Days until payment:
                </th>
                <th>
                    <input type="number" th:field="*{invoice.paymentDays}" name="paymentDays">
                </th>
            </tr>
            <tr>
                <th th:text="#{invoices.orders}">
                    Orders:
                </th>
                <th>
                    <select id="orders" th:field="*{orders}" multiple="multiple">
                        <option th:each="unusedOrder: ${unusedOrders}"
                                th:value="${unusedOrder.number}"
                                th:text="${unusedOrder}">
                            Unused orders to choose from
                        </option>
                    </select>
                </th>
            </tr>
        </table>
        <button type="submit" th:text="#{general.submit}">Submit</button>
    </form>
</body>
</html>