<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p style="text-align: right;" th:text="|Swolszewice Duże, ${invoiceDTO.getInvoice().getIssueDate()}|">Swolszewice Duże, 01-01-2018</p>
<table width="100%">
    <tbody>
    <tr>
        <td>
            <p><strong>FAKTURA VAT</strong></p>
        </td>
        <td>
            <p th:text="|FV ${invoiceDTO.getInvoice().getInvoiceId()}|">FV 1/2018</p>
        </td>
        <td>
            <p>Oryginał/Kopia</p>
        </td>
    </tr>
    </tbody>
</table>
<table width="100%">
    <tbody>
    <tr>
        <td>
            <strong>Sprzedawca:</strong>
        </td>
        <td>
            Firma Handlowo-Usługowa KAMRO<br/> Włodzimierz Plich
        </td>
        <td>
            <strong>Nabywca:</strong>
        </td>
        <td>
            Transforwarding International sp. z o.o.
        </td>
    </tr>
    <tr>
        <td>
            <strong>Adres:</strong>
        </td>
        <td>
            ul. Jana Pawła II 41<br/> 97-320 Swolszewice Duże
        </td>
        <td>
            <strong>Adres:</strong>
        </td>
        <td>
            ul. Na Skraju 73A<br/> 05-090 Raszyn
        </td>
    </tr>
    <tr>
        <td>
            <strong>NIP:</strong>
        </td>
        <td>
            7711012886
        </td>
        <td>
            <strong>NIP:</strong>
        </td>
        <td>
            PL5342147482
        </td>
    </tr>
    <tr>
        <td>
            <strong>Bank:</strong>
        </td>
        <td>
            BGŻ BNP Paribas S.A. oddział w&nbsp;Tomaszowie Maz.
        </td>
        <td>
            <strong>&nbsp;</strong>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <strong>Konto:</strong>
        </td>
        <td>
            79160014621833071520000001
        </td>
        <td>
            <strong>&nbsp;</strong>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table>
    <tbody>
    <tr>
        <td>
            <strong>Data sprzedaży:</strong>
        </td>
        <td>
            <div th:text="${invoiceDTO.getInvoice().getSaleDate()}">01-01-2018</div>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Spos&oacute;b zapłaty:</strong>
        </td>
        <td>
            przelew
        </td>
    </tr>
    <tr>
        <td>
            <strong>Termin płatności:</strong>
        </td>
        <td>
            <div th:text="${invoiceDTO.getPaymentDate()}">31-01-2018</div>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Transport:</strong>
        </td>
        <td>
            własny
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table>
    <tbody>
    <tr>
        <td>
            <strong>Lp.</strong>
        </td>
        <td>
            <strong>Nazwa</strong>
        </td>
        <td>
            <strong>J. m.</strong>
        </td>
        <td>
            <strong>Ilość</strong>
        </td>
        <td>
            <strong>Cena netto [zł]</strong>
        </td>
        <td>
            <strong>VAT</strong>
        </td>
        <td>
            <strong>Wartość VAT [zł]</strong>
        </td>
        <td>
            <strong>Wartość netto [zł]</strong>
        </td>
    </tr>
    <tr th:each="orderDTO, iStat: ${invoiceDTO.getOrders()}">
        <td>
            <div th:text="${iStat.index + 1}">1</div>
        </td>
        <td>
            <div th:text="${orderDTO.getOrder().toString()}">usługa transportowa 179817 Jarosty PL &ndash; Zagrzeb HR</div>
        </td>
        <td>
            szt.
        </td>
        <td>
            1
        </td>
        <td>
            <div th:text="${orderDTO.getOrder().getValue()}">4190,29</div>
        </td>
        <td>
            23%
        </td>
        <td>
            <div th:text="${orderDTO.getTaxValue()}">963,77</div>
        </td>
        <td>
            <div th:text="${orderDTO.getOrder().getValue()}">4190,29</div>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table>
    <tbody>
    <tr>
        <td>
            <strong>Stawka</strong>
        </td>
        <td>
            <strong>Netto</strong>
        </td>
        <td>
            <strong>VAT</strong>
        </td>
        <td>
            <strong>Brutto</strong>
        </td>
    </tr>
    <tr>
        <td>
            23%
        </td>
        <td>
            <div th:text="${invoiceDTO.getNettoSum()}">sumaNetto</div>
        </td>
        <td>
            <div th:text="${invoiceDTO.getTaxSum()}">sumaVat</div>
        </td>
        <td>
            <div th:text="${invoiceDTO.getBruttoSum()}">sumaBrutto</div>
        </td>
    </tr>
    <tr>
        <td>
            <div>Razem:</div>
        </td>
        <td>
            <div th:text="${invoiceDTO.getNettoSum()}">sumaNetto</div>
        </td>
        <td>
            <div th:text="${invoiceDTO.getTaxSum()}">sumaVat</div>
        </td>
        <td>
            <div th:text="${invoiceDTO.getBruttoSum()}">sumaBrutto</div>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table>
    <tbody>
    <tr>
        <td>
            <strong>Do zapłaty:</strong>
        </td>
        <td>
            <div th:text="${invoiceDTO.getBruttoSum()}">sumaBrutto</div>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Słownie:</strong>
        </td>
        <td>
            sumaBruttoSlownie
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table>
    <tbody>
    <tr>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
        <td>
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td>
            <em>podpis imienny osoby uprawnionej do wystawienia faktury VAT</em>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <em>podpis imienny osoby upoważnionej do odebrania faktury VAT</em>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
</body>
</html>