<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
    <div style="align-content: center">
        <a th:href="@{~/app/invoices}">View invoices</a>
    </div>
    <h1>All orders:</h1>
    <table>
        <tr>
            <th>Number</th>
            <th>Loading location</th>
            <th>Unloading location</th>
            <th>Value</th>
            <th>Invoice</th>
        </tr>
        <tr th:each="order: ${orders}">
            <td th:text="${order.number}">123456</td>
            <td th:text="${order.loadingLocation}">Tomaszów Mazowiecki PL</td>
            <td th:text="${order.unloadingLocation}">Koprivnica HR</td>
            <td th:text="${order.value}">1234.56</td>
            <td th:text="${order.invoice}">5/2018</td> <!-- TODO: wyswietlac jakos tylko ID faktury -->
            <td>
                <a th:href="@{~/orders/edit(number = ${order.number})}">Edit</a>
            </td>
            <td>
                <a th:href="@{~/orders/delete(number = ${order.number})}">Delete</a>
            </td>
        </tr>
    </table>

    <form method="post" action="/orders/add" th:object="${newOrder}">
        <table>
            <tr>
                <th>Number:</th>
                <td>
                    <input type="number" th:field="*{number}" />
                </td>
            </tr>
            <tr>
                <th>Loading location:</th>
                <td>
                    <input type="text" th:field="*{loadingLocation}"/>
                </td>
            </tr>
            <tr>
                <th>Unloading location:</th>
                <td>
                    <input type="text" th:field="*{unloadingLocation}"/>
                </td>
            </tr>
            <tr>
                <th>Value:</th>
                <td>
                    <input type="text" th:field="*{value}"/>
                </td>
            </tr>
            <tr>
                <th>Invoice:</th>
                <td>
                    <select th:field="*{invoice}">
                        <option value="">None</option>
                        <option th:each="inv: ${invoices}"
                                th:value="${inv.invoiceId}"
                                th:text="${inv.toString()}"></option>
                    </select>
                </td>
            </tr>
        </table>

        <button type="submit">Submit!</button>
    </form>
</body>
</html>